.wrapper {
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
}
.comment-first {
  background: linear-gradient(90deg,rgb(223, 8, 144), green);
  width: 220px;
  height: 160px;
}
