.UserInfo img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  flex-direction: column;
}
.UserInfo {
  /* display: flex;
  align-items: center;
  justify-content: center; */

}

.Container {
  width: 75px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
 padding-top: 20px;
}

.Comment {
  background-color: aqua;
}

.Comment-text {
  width: 200px;
  height: 150px;
  background-color: burlywood;
 text-align: center;
 font-size: 20px;
 flex-direction: column;
 color: black;
}
